<ng-include src='works.headertemplate'></ng-include>

<div class="container-fluid">
	<div class="row tablerow">
		<div class="col-sm-8 vcenter"><img class="img-responsive shadow" src="/images/portfolio/nwsource.png">
	</div>
	<div class="col-sm-4 vcenter">
		<div>
			<h4>The Project</h4>
			<p>NWSource.com is the local entertainment online magazine for the Seattle Times network.</p>
			<p>The goal for NWSource was to be the hub of local information including restraunts, shows, shopping and classifieds for the Seattle area. Increasing traffic, revenue and mobile compatibility was the major focus.</p>
		</div>
	</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row tablerow">
		<div class="col-sm-6 vcenter"><img class="img-responsive shadow" src="/images/portfolio/nwsource_detail.png"></div>
		<div class="col-sm-6 vcenter">
			<div>
				<h4>My Role</h4>
				<ul>
					<li>Senior developer with 2 developers</li>
					<li>Worked closely with producers and designers</li>
					<li>Drove better development and source control practices</li>
					<li>Managed deployment and production integration</li>
				</ul>
				<h4>The Technology</h4>
				<ul>
					<li>Perl, PHP, Magento, MySQL, Apache</li>
					<li>Adaptive design for improved mobile experience</li>
					<li>CICD and Build - SVN, Internal publishing system</li>
					<li>Deployed to and production hosted on ST.com data center, using Akamai</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<ng-include src='works.footertemplate'></ng-include>

