<ng-include src="'/views/modals/portfolio.top.html'"></ng-include>

<div class="container-fluid">
	<div class="row tablerow">
		<div class="col-sm-8 vcenter"><img class="img-responsive" src="/images/portfolio/disney_finder_desktop.png">
	</div>
	<div class="col-sm-4 vcenter">
		<div>
			<h4>The Project</h4>
			<p>Walt Disney Parks and Resorts Online has developed a shared platform in an effort to support and serve all the theme park websites
			throughout the world. This portion of this effort was for the "Finder" portion of the web platform. In a quick summary, Finder is made up 
			of the search, listing, description, maps and detail pages for all attractions, parks, resorts, hotels and events.</p>
			<p>While I was the technical lead on this project my goals and accomplishments were to support internationalization, improve responsive/adaptive compatibility, add accesibilty compliance, improve performance and technical integration with the existing platform.</p>
		</div>
	</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row tablerow">
		<div class="col-sm-6 vcenter">
			<div>
				<h4>My Role</h4>
				<ul>
					<li>Technical lead and lead developer for 4 developers</li>
					<li>Lead for technical planning, estimation and budget</li>
					<li>Managed integration into the Disney CICD pipeline</li>
					<li>Managed security and analytics requirements and assement</li>
					<li>Lead for business acceptance testing</li>
					<li>Oversight for accesibility compliance</li>
					<li>Managed deployment and production integration</li>
				</ul>
				<h4>The Technology</h4>
				<ul>
					<li>Node.JS, AngularJS, Express</li>
					<li>Fully responsive for mobile, tablet and desktop optimization</li>
					<li>CICD and Build - GIT, Jenkins, Bower, NPM, Grunt</li>
					<li>Deployed to and production hosted on Disney Cloud</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6 vcenter"><img class="img-responsive" src="/images/portfolio/disney_finder_mobile2.png">
		</div>
	</div>
</div>
<div class="container-fluid row">
	<div class="col-sm-6">
		<img class="img-responsive" src="/images/portfolio/disney_finder_mobile.png">
	</div>
	<div class="col-sm-6">
		<img class="img-responsive" src="/images/portfolio/disney_finder_mobile_menu.png">
	</div>
</div>

<ng-include src="'/views/modals/portfolio.bottom.html'""></ng-include>

