<ng-include src='works.headertemplate'></ng-include>

<div class="container-fluid">
	<div class="row tablerow">
		<div class="col-sm-8 vcenter"><img class="img-responsive shadow" src="/images/portfolio/disney_dcl_child_registration2.png">
	</div>
	<div class="col-sm-4 vcenter">
		<div>
			<h4>The Project</h4>
			<p>Guests that have booked a Disney Cruise and have young children are required to register their children to be eligible
			for activities and the nursery. This can be done once on the ship, however in attempt to get all the registration tasks completed
			the guests vacation we give them the opportunity to do this online.</p>
			<p>The previous version of this application was not mobile friendly or accesibility compliant. The major goals for this project were
			to create an updated visual look to match the rest of the Disney Cruise websites, create a completely responsive (mobile, tablet, desktop) friendly experience and comply with accesibility standards.</p>
		</div>
	</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row tablerow">
		<div class="col-sm-6 vcenter"><img class="img-responsive shadow" src="/images/portfolio/dcl.childreg.mobile2.png"></div>
		<div class="col-sm-6 vcenter">
			<div>
				<h4>My Role</h4>
				<ul>
					<li>Technical lead and lead developer for 4 developers</li>
					<li>Lead for technical planning, estimation and budget</li>
					<li>Managed integration into the Disney CICD pipeline</li>
					<li>Managed security and analytics requirements and assement</li>
					<li>Lead for business acceptance testing</li>
					<li>Oversight for accesibility compliance</li>
					<li>Managed deployment and production integration</li>
				</ul>
				<h4>The Technology</h4>
				<ul>
					<li>Node.JS, AngularJS, Express</li>
					<li>Fully responsive for mobile, tablet and desktop optimization</li>
					<li>CICD and Build - GIT, Jenkins, Bower, NPM, Grunt</li>
					<li>Deployed to and production hosted on Disney Cloud</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid row">
	<div class="col-sm-6">
		<img class="img-responsive shadow" src="/images/portfolio/dcl.childreg.mobile3.png">
	</div>
	<div class="col-sm-6">
		<img class="img-responsive shadow" src="/images/portfolio/dcl.childreg.mobile4.png">
	</div>
</div>

<ng-include src='works.footertemplate'></ng-include>

