<ng-include src='works.headertemplate'></ng-include>

<div class="container-fluid row">
	<div class="col-sm-6 vcenter">
		<img class="img-responsive shadow" src="/images/portfolio/srw_home.png">
		<img class="img-responsive shadow" src="/images/portfolio/srw_mobile.png">
	</div>
	<div class="col-sm-6 vcenter">
		<div>
			<h4>The Project</h4>
			<p>Seattle Restaurant Week is the collaboration of many great local restaurants, sponsored by local businesses and hosted/facilitated by The Seattle Times. Before this website was developed the process was completely manual. A list of restaurants with links to their pages on SeattleTimes.com was compiled and published.</p>
			<p>The goal for this project was to change this to be a much easier, efficient and streamlined production proccess, while improving the user experience. The producer now simply generates a JSON data file that is published and all of the handy listing, filtering and links are handled on the client side using JQuery.</p>
			<a href="http://srw.seattletimes.com/" target="_new" class="btn btn-info" role="button">Visit Website</a>
			<h4>My Role</h4>
			<ul>
				<li>Lead developer</li>
				<li>Lead for technical planning, estimation and requirements</li>
				<li>Worked closely with the design team and producers</li>
				<li>Managed security and analytics requirements and assement</li>
				<li>Managed deployment and production integration</li>
			</ul>
			<h4>The Technology</h4>
			<ul>
				<li>JQuery, Perl</li>
				<li>Responsive compatibility for mobile</li>
				<li>Subversion</li>
				<li>Deployed to and production hosted on ST.com data center, using Akamai</li>
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid row">
	<div class="col-sm-6">
		<img class="img-responsive shadow" src="/images/portfolio/srw_filter1.png">
	</div>
	<div class="col-sm-6">
		<img class="img-responsive shadow" src="/images/portfolio/srw_filter2.png">
	</div>
</div>

<ng-include src='works.footertemplate'></ng-include>

