<ng-include src='works.headertemplate'></ng-include>

<div class="container-fluid row">
	<div class="col-sm-6 vcenter">
		<img class="img-responsive shadow" src="/images/portfolio/dcl_portadventures2.png">
		<img class="img-responsive shadow" src="/images/portfolio/dcl_portadventures3.png">
	</div>
	<div class="col-sm-6 vcenter">
		<div>
			<h4>The Project</h4>
			<p>The Disney Cruise Line allows guests to plan their portadventures online before their booked cruise trips. </p>
			<p>While I was the technical lead on this project my goals and accomplishments were to support mobile devices with responsive code, add accesibilty compliance, improve performance and integrate with the Disney Cruise Line back end services.</p>
			<a href="https://disneycruise.disney.go.com/port-adventures/mexico/" target="_new" class="btn btn-info" role="button">Visit Website</a>
			<h4>My Role</h4>
			<ul>
				<li>Technical lead, managing a team of 6 developers, QA and engineers</li>
				<li>Managed Scrum, backlog and all aspects of Agile process</li>
				<li>Lead for technical planning, estimation and budget</li>
				<li>Worked closely with the DCL business team to make sure all business rules were documented and covered</li>
				<li>Managed integration into the Disney CICD pipeline</li>
				<li>Led security and analytics requirements and assement</li>
				<li>Lead for business acceptance testing</li>
				<li>Oversight for accesibility compliance</li>
				<li>Managed deployment and production integration</li>
			</ul>
			<h4>The Technology</h4>
			<ul>
				<li>PHP, JQuery, SOAP Web Services</li>
				<li>Fully responsive for mobile, tablet and desktop optimization</li>
				<li>CICD and Build - Perforce, Bamboo, Maven</li>
				<li>Deployed to and production hosted on Disney Cloud</li>
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid row">
	<div class="col-sm-6">
		<img class="img-responsive shadow" src="/images/portfolio/dcl_portadventures_mobile.png">
	</div>
	<div class="col-sm-6">
		<img class="img-responsive shadow" src="/images/portfolio/dcl_portadventures_mobile2.png">
	</div>
</div>

<ng-include src='works.footertemplate'></ng-include>

