<ng-include src='works.headertemplate'></ng-include>

<div class="container-fluid row">
	<div class="col-sm-6 vcenter">
		<img class="img-responsive shadow" src="/images/portfolio/st_home.png">
		<img class="img-responsive shadow" src="/images/portfolio/st_mobile.png">
	</div>
	<div class="col-sm-6 vcenter">
		<div>
			<h4>The Project</h4>
			<p>The Seattle Times is the regions largest digital news network.</p>
			<p>A major challenge and accomplishment for this site was scaling for major news events. While making sure code, architecture and services are efficient is very important supporting the regular traffic of over 30 million views per month. It is critical when breaking news spikes traffic multiplying the traffic. Keys to accomplish success in this was smart and inovative use of the Akamai CDN, inteligent caching of services on our side and implementation of more efficient shared web components.</p>
			<h4>My Role</h4>
			<ul>
				<li>Senior Architect working with 3 developers</li>
				<li>Worked closely with news room, producers and designers</li>
				<li>Improved performance and scalability</li>
				<li>Worked with Akamai to create flexible cached components</li>
				<li>Developed two iPhone and Android apps for News and College Sports</li>
			</ul>
			<h4>The Technology</h4>
			<ul>
				<li>Perl, PHP, MySQL, Java, Couchbase</li>
				<li>Fully responsive for mobile, tablet and desktop optimization</li>
				<li>CICD and Build - SVN, Internal publishing system</li>
				<li>Deployed to and production hosted on ST.com data center, using Akamai</li>
			</ul>
		</div>
		<div class="downloadLinks">
			<a class="appMarket" href="http://itunes.apple.com/us/app/seattle-times-mobile/id329502124"><img src="/images/iOSDownloadButton.png" alt="App Store"></a>
			<a class="appMarket" href="https://market.android.com/details?id=com.seattletimes.android.SeattleTimesMobileNews"><img src="/images/GooglePlayDownloadButton.png" alt="App Store"></a>
			<a href="http://www.seattletimes.com" target="_blank" class="btn btn-info" role="button" style="margin-top: 5px;">Visit Website</a>
		</div>
	</div>
</div>

<ng-include src='works.footertemplate'></ng-include>

