<ng-include src='works.headertemplate'></ng-include>

<div class="container-fluid row">
	<div class="col-sm-12">
		<img class="img-responsive" src="/images/portfolio/dcl_fantasy_main.jpg">
		<div class="caption">
	        <h4>Disney Cruise Line - New Fantansy Ship launch site </h4>
	    </div>
	</div>
</div>
<div class="container-fluid row">
	<div class="col-sm-6 vcenter">
		<img class="img-responsive" src="/images/portfolio/dcl_fantasy_desktop1.png">
		<img class="img-responsive" src="/images/portfolio/dcl_fantasy_mobile.png">
	</div>
	<div class="col-sm-6 vcenter">
		<div>
			<h4>The Project</h4>
			<p>As Disney Cruise Line was getting ready to announce the launch of the new Fantasy cruise ship they wanted to launch
			an fun, interactive promotional site. I worked closely with our business stakeholders and our creative agency to meet an
			agressive and critical launch timeline. It was important that the site met the Disney standard for design, security and performace.</p>
			<h4>My Role</h4>
			<ul>
				<li>Technical lead and liason for the creative agency</li>
				<li>Lead for integration into the Disney CICD pipeline</li>
				<li>Managed security and analytics requirements and assement</li>
				<li>Lead for business acceptance testing</li>
				<li>Managed deployment and production integration</li>
			</ul>
			<h4>The Technology</h4>
			<ul>
				<li>Parallax JavaScript, CSS3, HTML5 Single Page Application</li>
				<li>Fully responsive for mobile, tablet and desktop optimization</li>
				<li>CICD - Perforce, Bamboo </li>
				<li>Deployed to and production hosted on AWS Cloud</li>
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid row">
	<div class="col-sm-12">
		<img class="img-responsive" src="/images/portfolio/dcl_fantasy_desktop2.png">
	</div>
</div>

<ng-include src='works.footertemplate'></ng-include>
