<ng-include src='works.headertemplate'></ng-include>

<div class="container-fluid row">
	<div class="col-sm-6 vcenter">
		<img class="img-responsive shadow" src="/images/portfolio/disney_finder_desktop.png">
		<img class="img-responsive shadow" src="/images/portfolio/disney_finder_mobile2.png">
	</div>
	<div class="col-sm-6 vcenter">
		<div>
			<h4>The Project</h4>
			<p>Walt Disney Parks and Resorts Online has developed a shared platform in an effort to support and serve all the theme park websites
			throughout the world. This project was for the "Finder" portion of the web platform. In a quick summary, Finder is made up 
			of the search, listing, description, maps and detail pages for all attractions, parks, resorts, hotels and events.</p>
			<p>While I was the technical lead on this project my goals and accomplishments were to support internationalization, improve responsive/adaptive compatibility, add accesibilty compliance, improve performance and technical integration with the existing platform.</p>
			<a href="https://disneyworld.disney.go.com/destinations/magic-kingdom/" target="_new" class="btn btn-info" role="button">Visit Website</a>
			<h4>My Role</h4>
			<ul>
				<li>Technical lead and lead developer of 4 developers and engineers</li>
				<li>Lead for technical planning, estimation and budget</li>
				<li>Worked closely with QA team to effectively test mobile and tablet compatibility</li>>
				<li>Lead for business acceptance testing</li>
				<li>Oversight for accesibility compliance</li>
				<li>Managed deployment and production integration</li>
			</ul>
			<h4>The Technology</h4>
			<ul>
				<li>PHP, Zend, JQuery</li>
				<li>Fully responsive for mobile, tablet and desktop optimization</li>
				<li>CICD and Build - GIT, Bamboo, Bower</li>
				<li>Deployed to and production hosted on Disney Cloud</li>
			</ul>
			<h4>Launched Sites</h4>
			<ul>
				<li><a href="https://disneyworld.disney.go.com" target="_new">Walt Disney World Resort</a></li>
				<li><a href="https://disneyland.disney.go.com" target="_new">DisneyLand Resort</a></li>
				<li><a href="http://www.disneylandparis.com/en-us/" target="_new">DisneyLand Paris Resort</a></li>
				<li><a href="https://www.shanghaidisneyresort.com/en/" target="_new">Shanghai DisneyLand</a></li>
			</ul>
		</div>
	</div>
	</div>
</div>
<div class="container-fluid row">
	<div class="col-sm-6">
		<img class="img-responsive shadow" src="/images/portfolio/disney_finder_mobile.png">
	</div>
	<div class="col-sm-6">
		<img class="img-responsive shadow" src="/images/portfolio/disney_finder_mobile_menu.png">
	</div>
</div>

<ng-include src='works.footertemplate'></ng-include>

