<ng-include src='works.headertemplate'></ng-include>

<div class="container-fluid row">
	<div class="col-sm-6 vcenter">
		<img class="img-responsive shadow" src="/images/portfolio/nwautos.png">
		<img class="img-responsive shadow" src="/images/portfolio/nwautos_list.png">
	</div>
	<div class="col-sm-6 vcenter">
		<div>
			<h4>The Project</h4>
			<p>NWAutos is the auto marketplace for the Seattle Times Network.</p>
			<p>Important accomplishments for this project included better integration with dealership inventory services, while still serving private sellers and increasing traffic.</p>
			<h4>My Role</h4>
			<ul>
				<li>Senior developer and Architect with 2 other developers</li>
				<li>Lead for technical planning and estimation</li>
				<li>Architect for services to integrate dealer inventory systems</li>
				<li>Worked closely with product owners and security team</li>
				<li>Led deployment and production integration</li>
			</ul>
			<h4>The Technology</h4>
			<ul>
				<li>Perl, PHP, JQuery</li>
				<li>CICD and Build - SVN, Apache</li>
				<li>Deployed to and production hosted on ST.com data center, using Akamai</li>
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row tablerow">
		<div class="col-sm-12 vcenter"><img class="img-responsive shadow" src="/images/portfolio/nwautos_detail.png"></div>
	</div>
</div>
<ng-include src='works.footertemplate'></ng-include>

