<ng-include src='works.headertemplate'></ng-include>

<div class="container-fluid row">
	<div class="col-sm-6 vcenter">
		<img class="img-responsive shadow" src="/images/portfolio/disney_photopass_list_desktop.png">
		<img class="img-responsive shadow" src="/images/portfolio/disney_photopass_mobile2.png">
	</div>
	<div class="col-sm-6 vcenter">
		<div>
			<h4>The Project</h4>
			<p>When visiting Disneyland and Disney World guests have the opportunity to have professional photos taken of their trip, along with instant photos of their party on attractions. These photos can be tied into a photopass. This website and mobile application is a frontend interface for the photopasses the guests claim. Allowing them to order prints or digital versions of the photos and save the memories of their magical trip</p>
			<p>The goals for this project were to create a website and mobile applications that share performant services and code where it made sense. An updated visual look on a modern development platform, create a completely responsive (mobile, tablet, desktop) friendly experience and increase revenue.</p>
			<div class="downloadLinks">
				<a class="appMarket" href="https://itunes.apple.com/app/id547436543"><img src="/images/iOSDownloadButton.png" alt="App Store"></a>
				<a class="appMarket" href="https://play.google.com/store/apps/details?id=com.disney.mdx.wdw.google"><img src="/images/GooglePlayDownloadButton.png" alt="App Store"></a>
				<a href="https://mydisneyphotopass.disney.go.com/" target="_new" class="btn btn-info" role="button" style="margin-top: 5px;">Visit Website</a>
			</div>
			<h4>My Role</h4>
			<ul>
				<li>Technical lead, managing 5 developers, QA and engineers</li>
				<li>Lead for technical planning, estimation and budget</li>
				<li>Managed vagrant integration for development platform</li>
				<li>Led effort for first services deployed to AWS for mobile and web applications</li>
				<li>Managed security and analytics requirements and assement</li>
				<li>Lead for business acceptance testing</li>
				<li>Oversight for accesibility compliance</li>
			</ul>
			<h4>The Technology</h4>
			<ul>
				<li>Java, Node.JS, AngularJS, Vagrant, Express, Couchbase</li>
				<li>Responsive web for Mobile and shared components for mobile application</li>
				<li>CICD and Build - GIT, Jenkins, Bower, NPM, Grunt, Docker</li>
				<li>Deployed to and production hosted on AWS Cloud</li>
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid row">
	<div class="col-sm-6">
		<img class="img-responsive shadow" src="/images/portfolio/disney_photopass_mobile1.png">
	</div>
	<div class="col-sm-6">
		<img class="img-responsive shadow" src="/images/portfolio/disney_photopass_home_mobile.png">
	</div>
</div>

<ng-include src='works.footertemplate'></ng-include>

