
<div class="container-fluid">
  <div class="col-sm-2">
    <img alt="Ryan Wilson" src="/images/ryanheadshot.jpg" class="img-responsive img-circle" style="height: auto; width: 100%; max-width: 85px; max-height: 85px;">
  </div>
  <div class="col-sm-10">
    <p>Hey there, my name is Ryan Wilson. I am a technology professional in Seattle.</p>
    <p>This is a small AngularJS Single Page Application that I put together to display some of my professional work. Feel free to take a look at the source code here: <br>
    <a href="https://github.com/iamlastrhino/portfolio" target="_blank"><img style="max-width: 50px;" src="/images/GitHub_Logo.png"><b>github.com/iamlastrhino/portfolio</a></b></p>
    <p>This portfolio is deployed and served using the AWS EC2 Cloud.</p>
  </div>
</div>


<h2>My Work</h2>

<div ng-controller="PortfolioCtrl as works" class="container-fluid">
  <div class="row" ng-show="works">
    <div ng-repeat="work in works.portfolios.works">


  <div detail-link detail-key="{{work.key}}" class="col-sm-4" >
    <div class="hovereffect">
      <img alt="" class="portfolioThumb img-responsive" ng-src="{{work.thumb}}" style="height: auto; width: 100%; max-width: 300px; max-height: 300px;">
      <div class="overlay">
        <h2>{{work.company}}</h2>
        <a detail-link detail-key="{{work.key}}" class="info link">Details</a>
      </div>
    </div>
  </div>

    </div>
  </div>
</div>
