<ng-include src='works.headertemplate'></ng-include>

<div class="container-fluid">
	<div class="row tablerow">
		<div class="col-sm-12 vcenter"><img class="img-responsive shadow" src="/images/portfolio/fhlbsea_ahp.png"></div>
	</div>
</div>
<div class="container-fluid">
	<div class="row tablerow">
		<div class="col-sm-6 vcenter">
			<div>
				<h4>My Role</h4>
				<ul>
					<li>Lead Developer, Managing one other developer</li>
					<li>Worked closely with business partners and design agency</li>
					<li>Managing planning, estimation and budget</li>
					<li>Document business rules and requirements</li>
					<li>Managed compliance with Sarbanes Oxley and PII laws</li>
					<li>Worked closely with IT Engineers to deploy to new data center</li>
				</ul>
				<h4>The Technology</h4>
				<ul>
					<li>ColdFusion, Oracle Application Server, Oracle Database</li>
					<li>CICD and Build - SVN, IIS, Oracle Application Server Deployment</li>
					<li>Deployed to and production hosted on Bank Data Center</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6 vcenter"><img class="img-responsive shadow" src="/images/portfolio/fhlbsea2.jpg">
		</div>
	</div>
</div>

<ng-include src='works.footertemplate'></ng-include>



