<ng-include src='works.headertemplate'></ng-include>

<div class="container-fluid row">
	<div class="col-sm-6 vcenter">
		<img class="img-responsive shadow" src="/images/portfolio/fhlbsea.png">
		<img class="img-responsive shadow" src="/images/portfolio/fhlbsea2.jpg">
	</div>
	<div class="col-sm-6 vcenter">
		<div>
			<h4>The Project</h4>
			<p>The Federal Home Loan Bank of Seattle (Now merged with <a href="http://www.fhlbdm.com/" target="_new">FHLBDM</a>) is a bank to provide community banks resources and loans for the local housing market.</p>
			<p>I was the lead developer for this site coming in to accomplish a major website redesign, integrating realtime financial analysis systems. Continuing to manage iterations and support the business needs.</p>
			<h4>My Role</h4>
			<ul>
				<li>Lead Developer, Managing one other developer</li>
				<li>Worked closely with business partners and design agency</li>
				<li>Managing planning, estimation and budget</li>
				<li>Document business rules and requirements</li>
				<li>Managed compliance with Sarbanes Oxley and PII laws</li>
				<li>Worked closely with IT Engineers to deploy to new data center</li>
			</ul>
			<h4>The Technology</h4>
			<ul>
				<li>ColdFusion, ASP, Javascript, MSSQL, Oracle Application Server, Oracle DB</li>
				<li>CICD and Build - SVN, Oracle Application Server Deployment, IIS</li>
				<li>Deployed to and production hosted on Bank Data Center</li>
			</ul>
		</div>
	</div>
</div>

<ng-include src='works.footertemplate'></ng-include>

