
<div class="modal-body">
	<div class="container-fluid">
		<div class="row tablerow" style="float: left; width: 100%;">
			<div class="col-sm-6" style="padding-left: 0px;">
				<h4>Ryan Wilson</h4>
				<div><h5 class=""><span class="c3 c13">253.740.9261 | ryan@goldpress.com</span><span class="c3"><br></span></h5></div>
			</div>
			<div class="col-sm-6" style="text-align: right; padding-right: 0px;">
				<a href="/images/RWilson2018.pdf" target="_blank" class="btn btn-default" role="button">
					<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;download
				</a>&nbsp;&nbsp;
				<a href="/images/RWilson2018.pdf" target="_blank" class="btn btn-default" role="button">
					<span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;print&nbsp;
				</a>
			</div>
		</div>
	</div>
  <hr>
        <h2 class="c6"><span class="c4">Summary</span></h2>
      <p class="c6"><span class="c4">&nbsp;</span></p>
      <p class="c9"><span class="c4">Internet professional and proven leader with over fifteen years of experience in architecture, development, testing and management. Proficient in the principles and best practices of the software development life cycle and technical team leadership. Experience with large-scale, branded consumer facing websites, internal tools and mobile applications. Organized, results-oriented leader with proven ability in executing strategies with both local and global teams.</span></p>
      <p class="c9 c7"><span class="c4"></span></p>
      <hr>
      <p class="c9"><span class="c4">Skills</span></p>
      <p class="c9 c7"><span class="c4"></span></p>
      <ul class="c0 lst-kix_9b82ixi4qktz-0 start">
         <li class="c13 c19"><span class="c4">Team leadership; Supervisory management including interviewing, hiring, code reviews, performance reviews and leadership by example</span></li>
         <li class="c8"><span class="c4 c11">Large-scale, high traffic website, full stack and mobile application development</span></li>
         <li class="c8"><span class="c4 c11">Project timeline, estimation, budget and planning management</span></li>
         <li class="c8"><span class="c4 c11">Secure eCommerce application design and development</span></li>
         <li class="c8"><span class="c4 c11">Security/Compliance experience including PCI, PII, Sarbanes-Oxley compliance</span></li>
         <li class="c8"><span class="c4">Responsive and adaptive web application design experience</span></li>
         <li class="c8"><span class="c4 c11">Analytics, operational intelligence and metrics integration, platform strategy </span></li>
         <li class="c8"><span class="c4 c11">Mobile application and web integration with REST/SOAP service architectures</span></li>
         <li class="c8"><span class="c4 c11">SDLC Methodologies - Agile (Scrum), Waterfall, Kanban</span></li>
         <li class="c8"><span class="c4 c11">Front End skills - responsive/adaptive development, HTML5/DHTML, CSS3/LESS/SASS</span></li>
         <li class="c8"><span class="c4 c11">Languages and platforms - PHP, JavaScript, AngularJS, Ruby on Rails, SQL, Node, ASP.net, Java</span></li>
         <li class="c8"><span class="c4 c11">Tools - AWS, Docker, Git/Gitlab, Jenkins, Linux/Unix, Apache/Nginx, Atlassian suite</span></li>
      </ul>
      <hr>
      <p class="c6"><span class="c4">Professional Experience</span></p>
      <p class="c6 c7"><span class="c4"></span></p>
      <p class="c6"><span class="c2">Senior Web Developer - Acceptiva </span><span class="c4">(Mar17-May18)</span></p>
      <ul class="c0 lst-kix_7knklhpkyif2-0 start">
         <li class="c3"><span class="c5">Led d</span><span class="c4">evelopment of new features for the non-profit donation and admin interfaces</span></li>
         <li class="c3"><span class="c4">Drove multiple projects through the full life-cycle from requirements to deployment and support, leading the development team with agile methodologies</span></li>
         <li class="c3"><span class="c4">Worked closely with QA, contractors and leadership team to ensure features are on track</span></li>
         <li class="c3"><span class="c4">Managed and coordinated database, server OS and enterprise platform upgrades</span></li>
         <li class="c3"><span class="c5">Migrated critical web services to AWS, and directed company&rsquo;s internal web strategy</span></li>
      </ul>
      <p class="c6 c7"><span class="c4"></span></p>
      <p class="c6"><span class="c2">Senior Web Developer - Tommy Bahama </span><span class="c4">(Sep16-Jan17)</span></p>
      <ul class="c0 lst-kix_7knklhpkyif2-0">
         <li class="c3"><span class="c4">Worked closely with creative and marketing team to add innovative features to drive sales</span></li>
         <li class="c3"><span class="c4">Lead for development on AngularJS and Restful interfaces</span></li>
         <li class="c3"><span class="c4">Developed Front end features for the Hybris eCommerce system</span></li>
         <li class="c3"><span class="c5">Led promotion toward responsive design and mobile first development</span></li>
      </ul>
      <p class="c6 c7"><span class="c4"></span></p>
      <p class="c6"><span class="c2">Tech Lead/Senior Web Developer - Walt Disney Parks and Resorts Online </span><span class="c4">(Jan11-Sep16)</span></p>
      <ul class="c0 lst-kix_7knklhpkyif2-0">
         <li class="c3"><span class="c4">Managed development of PHP/Zend applications on Linux/Apache (Redhat Enterprise OS)</span></li>
         <li class="c3"><span class="c4">Developed REST and SOAP services for mobile and web consumption </span></li>
         <li class="c3"><span class="c4">Tech lead for several successful projects on the Disney Cruise Line website</span></li>
         <li class="c3"><span class="c4">Lead for MDX Platform - Focus to deliver DisneyLand Paris website responsive development</span></li>
         <li class="c3"><span class="c4">Worked closely and formed trusted relationships with business leadership, project management, creative, producers and most importantly my development team</span></li>
         <li class="c3"><span class="c4">Responsible for interviewing web developers for my department</span></li>
         <li class="c3"><span class="c4">Involved in evaluating new technologies and worked closely with the architecture team</span></li>
         <li class="c3"><span class="c4">Proven ability to deliver successful projects and dealing with the normal challenges that occur</span></li>
         <li class="c3"><span class="c4">Worked closely with the Analytics team to implement enhanced meta information and Omniture</span></li>
         <li class="c3"><span class="c4">Demonstrated clear and timely communication and organization to drive better workflow</span></li>
         <li class="c3"><span class="c4">Drive and implement effective solutions to benefit our timeline and budget</span></li>
      </ul>
      <p class="c6 c7"><span class="c17 c18"></span></p>
      <p class="c6 c7"><span class="c17 c18"></span></p>
      <p class="c6"><span class="c2">Senior Internet Architect &ndash; The Seattle Times Company </span><span class="c5">(Oct06-</span><span class="c5">Jan11</span><span class="c4">)</span></p>
      <ul class="c0 lst-kix_list_3-0 start">
         <li class="c3"><span class="c5">Lead developer for data cloud project and open interface. Facilitated &amp; led several projects using this data cloud interface</span><span class="c4">, including several mobile apps and search </span></li>
         <li class="c3"><span class="c4">Worked closely with members of the newsroom to develop innovative news products</span></li>
         <li class="c3"><span class="c4">Promoted development of extensible web services for potential reuse throughout the network</span></li>
         <li class="c3"><span class="c5">Real Media OAS and Omniture integration and special advertisement technical implementation</span></li>
         <li class="c3"><span class="c4">Worked closely with producers, designers and human factors to lead development with other engineers and contractors throughout projects. Developing both client-side and/or server-side</span></li>
         <li class="c3"><span class="c5">Designed, developed and implemented a photo management engine with extensive APIs</span></li>
         <li class="c3"><span class="c5">Member of Security Team focused on improving security of web applications and PCI compliance</span></li>
         <li class="c3"><span class="c4">Focused on efficient processes, improving CICD, cloud delivery and development environments </span></li>
      </ul>
      <p class="c6 c7 c13"><span class="c4"></span></p>
      <p class="c6"><span class="c2">Senior Internet Engineer &ndash; The Seattle Times Company </span><span class="c4">(Nov04-Oct06)</span></p>
      <ul class="c0 lst-kix_list_d-0 start">
         <li class="c3"><span class="c4">NWSource.com and Marketplace sites lead PHP Engineer/Developer</span></li>
         <li class="c3"><span class="c5">Development of integration with several 3</span><span class="c5 c20">rd</span><span class="c5">&nbsp;party APIs including O</span><span class="c5">mniture and Google analytics</span></li>
         <li class="c3"><span class="c4">Responsible for web server operations &ndash; Linux and Solaris with Apache</span></li>
         <li class="c3"><span class="c4">Led development for redesign of NWautos.com (worked in tandem with a junior developer)</span></li>
         <li class="c3"><span class="c4">Responsible for database design and optimization for web applications</span></li>
         <li class="c3"><span class="c4">Developed and improved scheduled, automated data loading procedures</span></li>
      </ul>
      <p class="c6 c7"><span class="c4"></span></p>
      <p class="c6"><span class="c2">Network Security Consultant &ndash; Northwest Computer Support </span><span class="c4">(Sep04-Nov04)</span></p>
      <ul class="c0 lst-kix_list_d-0">
         <li class="c3"><span class="c4">Worked with clients to improve and fix network and application security</span></li>
         <li class="c3"><span class="c4">Organized a suite of tools for security analysis</span></li>
      </ul>
      <p class="c6 c7"><span class="c4"></span></p>
      <p class="c6"><span class="c2">Web </span><span class="c2">Development Manager</span><span class="c2">&nbsp;&ndash; Federal Home Loan Bank of Seattle </span><span class="c4">(Feb01- Aug04)</span></p>
      <ul class="c0 lst-kix_list_c-0 start">
         <li class="c3"><span class="c5">Responsible for </span><span class="c5">all aspects of the </span><span class="c5">bank&#39;s</span><span class="c4">&nbsp;Internet technologies</span></li>
         <li class="c3"><span class="c4">Managed web developers, contractors and vendors </span></li>
         <li class="c3"><span class="c4">Responsible for all web servers (Win2003 IIS, Win2000 IIS, Apache), Windows clusters, SQL Servers, external and global DNS, and load balancing</span></li>
         <li class="c3"><span class="c4">Provided 24x7 support for web applications requiring high-availability</span></li>
         <li class="c3"><span class="c5">Automated</span><span class="c5">&nbsp;existing procedures and</span><span class="c5">&nbsp;</span><span class="c4">unit tests to allow reliable monitoring of components</span></li>
         <li class="c3"><span class="c5">Designed, led development and implemented custom CMS system</span></li>
         <li class="c3"><span class="c5">I</span><span class="c5">mplemented high </span><span class="c5">availability</span><span class="c5">&nbsp;web infrastructure with load balancing and automatic fail</span><span class="c5">o</span><span class="c4">ver</span></li>
      </ul>
      <p class="c6 c7"><span class="c4"></span></p>
      <p class="c6"><span class="c2">Web Development Manager/Owner</span><span class="c2">&nbsp;&ndash; GoldPress LLC &nbsp;</span><span class="c4">(Aug99-Feb01)</span></p>
      <ul class="c0 lst-kix_list_7-0 start">
         <li class="c3"><span class="c5">Managed</span><span class="c5">&nbsp;small team of developers in </span><span class="c5">many successful</span><span class="c4">&nbsp;projects</span></li>
         <li class="c3"><span class="c4">Development on most all PHP, mySQL, Linux and Apache. A few projects with ASP and IIS.</span></li>
      </ul>
      <p class="c6 c7"><span class="c4"></span></p>
      <p class="c6"><span class="c2">Lead Web Developer &ndash; Freei.net/FreeInternet.com </span><span class="c4">(Nov98-Sep99)</span></p>
      <ul class="c0 lst-kix_list_2-0 start">
         <li class="c3"><span class="c5">Lead</span><span class="c5">&nbsp;LAMP developer developer</span><span class="c5">. Working with FreeBSD, Apache, mySQL and PHP/Perl stack</span></li>
         <li class="c3"><span class="c4">Proven track record of completing projects ahead of schedule and under budget</span></li>
      </ul>
      <h2 class="c6 c10"><span class="c2 c17"></span></h2>
      <hr>
      <p class="c6 c7"><span class="c12"></span></p>
      <p class="c6"><span class="c12">Certifications and Training</span></p>
      <p class="c6 c7"><span class="c4"></span></p>
      <ul class="c0 lst-kix_list_5-0 start">
         <li class="c3"><span class="c4">The Poynter Institute Technology and Journalism - Technical Certification</span></li>
         <li class="c3"><span class="c4">Certified Scrum Master</span></li>
      </ul>
      <ul class="c0 lst-kix_list_9-0 start">
         <li class="c3"><span class="c5">CompTIA Security+</span></li>
         <li class="c3"><span class="c4">Franklin Covey Leadership, Project Management</span></li>
         <li class="c3"><span class="c4">Microsoft Certified Professional</span></li>
         <li class="c3"><span class="c4">Currently working on PMI Project Management Professional Certification</span></li>
         <li class="c3"><span class="c4">Relevant server and technology training: mySQL, Wordpress, Drupal, Adobe Experience Manager, Couchbase, Oracle DB, Oracle Application Server, CFM, Real Media Open Adstream, RedHat RHEL, SUSE</span></li>
      </ul>
      <div>
         <p class="c6"><span class="c14">Last updated</span><span class="c16">&nbsp;June 24</span><span class="c14">, 201</span><span class="c16">8</span></p>
      </div>
</div>
