
<div class="c14">
    <h3 class=""><span class="c3 c16">Ryan Wilson</span></h1>
    <h4 class=""><span class="c3 c13">253.740.9261 | ryan@goldpress.com</span><span class="c3"><br></span></h2>
    <hr>
    <p class="c0"><span class="c3 c12"><b>Summary</b></span></span>
    <p class="c0"><span class="c2">Hands-on Internet professional with o</span><span class="c7 c2">ver </span><span class="c2">fifteen</span><span class="c2 c7">&nbsp;years of experience in design, development, testing and management.</span><span class="c2">&nbsp;Proficient in the principles and best practices of web development and team leadership. Experience with large-scale consumer facing websites and mobile applications. Organized results-oriented leader with proven ability in executing strategy with both local and global teams.</span></p>
    <p class="c0 c4"><span class="c2"></span></p>
    <p class="c0"><span class="c2">Seeking a Web Development Lead opportunity that can utilize my diverse Internet experience and technical leadership skills with an industry leading organization.</span></p>
    <p class="c0 c4"><span class="c2"></span></p>
    <hr>
    <p class="c0"><span class="c3"><b>Skills</b></span></p>
    <p class="c0 c4"><span class="c3"></span></p>
    <ul class="c6 lst-kix_9b82ixi4qktz-0 start">
        <li class="c0 c5"><span class="c2">Large-scale, high traffic website development</span></li>
        <li class="c0 c5"><span class="c2">Full Internet stack development experience</span></li>
        <li class="c0 c5"><span class="c2">Secure eCommerce application design and development</span></li>
        <li class="c0 c5"><span class="c2">Responsive and adaptive web application design</span></li>
        <li class="c0 c5"><span class="c2">Analytics and metrics integration </span></li>
        <li class="c0 c5"><span class="c2">Mobile application and responsive web development</span></li>
        <li class="c0 c5"><span class="c2">SDLC Methodologies - Agile (Scrum), Waterfall</span></li>
        <li class="c0 c5"><span class="c2">Languages and platforms - PHP, JavaScript, AngularJS, SQL, Node, ColdFusion, ASP.net, Java</span></li>
    </ul>
    <p class="c4"><span class="c2"></span></p>
    <hr>
    <p class=""><span class="c3"><b>Professional Experience</b></span></p>
    <p class="c4"><span class="c3"></span></p>
    <p class=""><span class="c2 c10">Tech Lead/Senior Web Developer - Walt Disney Parks and Resorts Online (Jan11-Current)</span></p>
    <ul class="c6 lst-kix_7knklhpkyif2-0 start">
        <li class="c5"><span class="c2">Led diverse teams of developers, QA and engineers In Seattle, Orlando, Argentina and The Philippines</span></li>
        <li class="c5"><span class="c2">Developed REST and SOAP services for mobile and web consumption </span></li>
        <li class="c5"><span class="c2">Tech lead for several successful projects on the Disney Cruise Line website</span></li>
        <li class="c5"><span class="c2">Lead for MDX Platform - Primarily working on the DisneyLand Paris website responsive development</span></li>
        <li class="c5"><span class="c2">Worked closely and formed trusted relationships with business leadership, project management, creative, producers and most importantly my development team</span></li>
        <li class="c5"><span class="c2">Responsible for interviewing web developers for my group</span></li>
        <li class="c5"><span class="c2">Involved in evaluating new technologies and worked closely with Architecture</span></li>
        <li class="c5"><span class="c2">Proven ability to deliver successful projects and dealing with the normal challenges that occur</span></li>
        <li class="c5"><span class="c2">Stepped into a struggling Porthole project to turn it around and deliver the DCL enhancement</span></li>
        <li class="c5"><span class="c2">Worked closely with the Analytics team to implement enhanced meta information and Omniture libraries</span></li>
        <li class="c5"><span class="c2">Demonstrated clear and timely communication and organization to drive better workflow</span></li>
        <li class="c5"><span class="c2">Drive and implement effective solutions to benefit our timeline and budget</span></li>
        <li class="c5"><span class="c2">Focused on efficient processes, including improving CICD, cloud delivery and development environments </span></li>
    </ul>
    <p class="c4"><span class="c2 c10"></span></p>
    <p class=""><span class="c2 c10">Senior Internet Architect &ndash; The Seattle Times Company (Oct06-</span><span class="c2 c10">Jan11</span><span class="c2 c10">)</span></p>
    <ul class="c6 lst-kix_list_3-0 start">
        <li class="c5"><span class="c2">Lead developer for data cloud project and open interface. Facilitated &amp; led several projects using this data cloud interface &ndash; a couple examples are web services for new iPhone applications and Entertainment search/filter (worked with 3 developers and 3</span><span class="c1">rd</span><span class="c2">&nbsp;party development firm, used CodeIngiter framework and Smarty for templating)</span></li>
        <li class="c5"><span class="c2">Worked closely with members of the newsroom to develop innovative news products</span></li>
        <li class="c5"><span class="c2">Promoted development of extensible web services for potential reuse throughout the network</span></li>
        <li class="c5"><span class="c2">Real Media OAS and Omniture integration and special advertisement technical implementation</span></li>
        <li class="c5"><span class="c2">Drove multiple projects through the full life-cycle from requirements to deployment and support, using both </span><span class="c2">waterfall</span><span class="c2">&nbsp;and agile methodologies</span></li>
        <li class="c5"><span class="c2">Worked closely with producers, designers and human factors to lead development with other engineers and contractors throughout projects. Developing both client-side and/or server-side solutions where best suited</span></li>
        <li class="c5"><span class="c2">Designed, developed and implemented a photo management engine with extensive APIs for use throughout the Seattle Times network</span></li>
        <li class="c5"><span class="c2">Member of Application Security Team focused on improving the security of our web applications and PCI compliance</span></li>
    </ul>
    <p class="c4 c15"><span class="c2"></span></p>
    <p class=""><span class="c2 c10">Senior Internet Engineer &ndash; The Seattle Times Company (Nov04-Oct06)</span></p>
    <ul class="c6 lst-kix_list_d-0 start">
        <li class="c5"><span class="c2">NWSource.com and Marketplace sites lead Engineer/Developer</span></li>
        <li class="c5"><span class="c2">Development of integration with several 3</span><span class="c1">rd</span><span class="c2">&nbsp;party APIs</span></li>
        <li class="c5"><span class="c2">Responsible for web server operations &ndash; Linux and Solaris with Apache</span></li>
        <li class="c5"><span class="c2">Led development for redesign of NWautos.com (worked in tandem with a junior developer)</span></li>
        <li class="c5"><span class="c2">Responsible for database design and optimization for web applications</span></li>
        <li class="c5"><span class="c2">Developed and improved scheduled, automated data loading procedures</span></li>
    </ul>
    <p class="c4"><span class="c2"></span></p>
    <p class=""><span class="c2 c10">Network Security Consultant &ndash; Northwest Computer Support (Sep04-Nov04)</span></p>
    <ul class="c6 lst-kix_list_d-0">
        <li class="c5"><span class="c2">Worked with clients to improve and fix network and application security</span></li>
        <li class="c5"><span class="c2">Organized a suite of tools for security analysis</span></li>
    </ul>
    <p class="c4"><span class="c2"></span></p>
    <p class=""><span class="c2 c10">Web Server Administrator/Developer &ndash; Federal Home Loan Bank of Seattle (Feb01- Aug04)</span></p>
    <ul class="c6 lst-kix_list_c-0 start">
        <li class="c5"><span class="c2">Managed all aspects of the </span><span class="c2">bank&#39;s</span><span class="c2">&nbsp;Internet technologies</span></li>
        <li class="c5"><span class="c2">Responsible for all web servers (Win2003 IIS, Win2000 IIS, Apache), Windows clusters, SQL Servers, external and global DNS, and load balancing</span></li>
        <li class="c5"><span class="c2">Provided 24x7 support for web applications requiring high-availability</span></li>
        <li class="c5"><span class="c2">Automated</span><span class="c2">&nbsp;existing procedures and</span><span class="c2">&nbsp;</span><span class="c2">unit tests to allow reliable monitoring of components</span></li>
        <li class="c5"><span class="c2">Designed, led development and implemented custom CMS system (one other developer)</span></li>
        <li class="c5"><span class="c2">Designed and implemented high </span><span class="c2">availability</span><span class="c2">&nbsp;web infrastructure with load balancing and automatic fail-Over</span></li>
    </ul>
    <p class="c4"><span class="c2"></span></p>
    <p class=""><span class="c2 c10">Independent Contractor &ndash; GoldPress LLC &nbsp;(Aug99-Feb01)</span></p>
    <ul class="c6 lst-kix_list_7-0 start">
        <li class="c5"><span class="c2">Led a small team of developers in </span><span class="c2">many successful</span><span class="c2">&nbsp;projects (2-3 developers)</span></li>
    </ul>
    <p class="c4"><span class="c2"></span></p>
    <p class=""><span class="c2 c10">Lead Web Developer &ndash; Freei.net/FreeInternet.com (Nov98-Sep99)</span></p>
    <ul class="c6 lst-kix_list_2-0 start">
        <li class="c5"><span class="c2">Managed one junior developer</span></li>
        <li class="c5"><span class="c2">Proven track record of completing projects ahead of schedule and under budget</span></li>
    </ul>
    <p class="c4"><span class="c2"></span></p>
    <h2 class="c11"><span class="c3"></span></h2>
    <hr>
    <p class="c4"><span class="c3"></span></p>
    <p class=""><span class="c3"><b>Training</b></span></p>
    <p class="c4"><span class="c3"></span></p>
    <ul class="c6 lst-kix_list_5-0 start">
        <li class="c5"><span class="c2">The Poynter Institute Technology and Journalism</span></li>
        <li class="c5"><span class="c2">Franklin Covey Leadership training</span></li>
        <li class="c5"><span class="c2">Franklin Covey Project Management Training</span></li>
        <li class="c5"><span class="c2">Real Media Open Adstream</span></li>
        <li class="c5"><span class="c2">Many other relevant server and technology training (mySQL, Oracle DB, Oracle Application Server, CFM, Siteserver, RedHat RHEL, SUSE)</span></li>
    </ul>
    <h2 class="c11"><span class="c3"></span></h2>
    <hr>
    <p class="c4"><span class="c3"></span></p>
    <p class=""><span class="c3"><b>Certifications</b></span></p>
    <p class="c4"><span class="c3"></span></p>
    <ul class="c6 lst-kix_list_9-0 start">
        <li class="c5"><span class="c2">Certified Scrum Master</span></li>
        <li class="c5"><span class="c2">CompTIA Security+</span></li>
        <li class="c5"><span class="c2">Microsoft Certified Professional</span></li>
        <li class="c5"><span class="c2">Currently working on PMP (PMI Project Management Professional) Certification </span></li>
    </ul>
    <div>
        <p class="c9"><span class="c7 c8">Last updated </span><span class="c8">May</span><span class="c7 c8">&nbsp;</span><span class="c8">19</span><span class="c7 c8">, 201</span><span class="c8">6</span></p>
    </div>
</div>