
<div class="modal-body">
	<div class="container-fluid">
		<div class="row tablerow" style="float: left; width: 100%;">
			<div class="col-sm-6" style="padding-left: 0px;">
				<h4>Ryan Wilson</h4>
				<div><h5 class=""><span class="c3 c13">253.740.9261 | ryan@goldpress.com</span><span class="c3"><br></span></h5></div>
			</div>
			<div class="col-sm-6" style="text-align: right; padding-right: 0px;">
				<a href="/images/RWilson2016.pdf" target="_blank" class="btn btn-default" role="button">
					<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;download
				</a>&nbsp;&nbsp;
				<a href="/images/RWilson2016.pdf" target="_blank" class="btn btn-default" role="button">
					<span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;print&nbsp;
				</a>
			</div>
		</div>
	</div>
  <hr>
  <h2 class="c8"><span class="c3 c4">Summary</span></h2>
  <p class="c8"><span class="c3 c0">&nbsp;</span></p>
  <p class="c14"><span class="c3 c0">Internet professional and proven leader with over fifteen years of experience in architecture, development, testing and management. Proficient in the principles and best practices of the software development life cycle and team leadership. Experience with large-scale consumer facing websites, internal tools and mobile applications. Organized, results-oriented leader with proven ability in executing strategy with both local and global teams.</span></p>
  <p class="c7"><span class="c3 c0"></span></p>
  <hr>
  <p class="c14"><span class="c3 c4">Skills</span></p>
  <p class="c7"><span class="c3 c4"></span></p>
  <ul class="c10 lst-kix_9b82ixi4qktz-0 start">
     <li class="c11"><span class="c0 c13 c5">Large-scale, high traffic website, full stack and mobile application development</span></li>
     <li class="c11"><span class="c0 c13 c5">Project timeline, estimation, budget and planning management</span></li>
     <li class="c11"><span class="c0 c13 c5">Team interviews, hiring, code reviews, performance reviews and leadership by example</span></li>
     <li class="c11"><span class="c0 c13 c5">Secure eCommerce application design and development</span></li>
     <li class="c11"><span class="c0 c13 c5">Responsive and adaptive web application design experience</span></li>
     <li class="c11"><span class="c0 c13 c5">Analytics, operational intelligence and metrics integration</span></li>
     <li class="c11"><span class="c0 c13 c5">Mobile application and web integration with REST/SOAP service architectures</span></li>
     <li class="c11"><span class="c0 c5 c13">SDLC Methodologies - Agile (Scrum), Waterfall, Kanban</span></li>
     <li class="c11"><span class="c0 c13 c5">Security/Compliance experience including PCI, PII, Sarbanes Oxley compliance</span></li>
     <li class="c11"><span class="c0 c13 c5">Front End skills - responsive/adaptive development, HTML5/DHTML, CSS3/LESS/SASS</span></li>
     <li class="c11"><span class="c0 c5">Languages and platforms - PHP, JavaScript, AngularJS, SQL, Node, ColdFusion, ASP.net, Java</span></li>
  </ul>
  <hr>
  <p class="c8"><span class="c3 c4">Professional Experience</span></p>
  <p class="c1"><span class="c3 c4"></span></p>
  <p class="c8"><span class="c3 c6">Senior Web Developer - Acceptiva (Mar17-May18)</span></p>
  <ul class="c10 lst-kix_7knklhpkyif2-0 start">
     <li class="c2"><span class="c0">Led d</span><span class="c3 c0">evelopment of new features for the non-profit donation and admin interfaces</span></li>
     <li class="c2"><span class="c3 c0">Drove multiple projects through the full life-cycle from requirements to deployment and support, leading the development team with agile methodologies</span></li>
     <li class="c2"><span class="c3 c0">Worked closely with QA, contractors and leadership team to ensure features are on track</span></li>
     <li class="c2"><span class="c0">Migrated critical web services to AWS</span><span class="c3 c0">&nbsp;</span></li>
  </ul>
  <p class="c1"><span class="c3 c4"></span></p>
  <p class="c8"><span class="c3 c6">Senior Web Developer - Tommy Bahama (Sep16-Jan17)</span></p>
  <ul class="c10 lst-kix_7knklhpkyif2-0">
     <li class="c2"><span class="c3 c0">Developed Front end features for the Hybris eCommerce system</span></li>
     <li class="c2"><span class="c3 c0">Led promotion toward responsive design and mobile first development</span></li>
     <li class="c2"><span class="c3 c0">Worked closely with creative and marketing team to add innovative features to drive sales</span></li>
     <li class="c2"><span class="c0">Lead for development on AngularJS and Restful interfaces</span></li>
  </ul>
  <p class="c1"><span class="c3 c4"></span></p>
  <p class="c8"><span class="c3 c6">Tech Lead/Senior Web Developer - Walt Disney Parks and Resorts Online (Jan11-Sep16)</span></p>
  <ul class="c10 lst-kix_7knklhpkyif2-0">
     <li class="c2"><span class="c3 c0">Led development of PHP/Zend applications on Linux/Apache (Redhat Enterprise OS)</span></li>
     <li class="c2"><span class="c3 c0">Developed REST and SOAP services for mobile and web consumption </span></li>
     <li class="c2"><span class="c3 c0">Tech lead for several successful projects on the Disney Cruise Line website</span></li>
     <li class="c2"><span class="c3 c0">Lead for MDX Platform - Focus to deliver DisneyLand Paris website responsive development</span></li>
     <li class="c2"><span class="c3 c0">Worked closely and formed trusted relationships with business leadership, project management, creative, producers and most importantly my development team</span></li>
     <li class="c2"><span class="c3 c0">Responsible for interviewing web developers for my group</span></li>
     <li class="c2"><span class="c3 c0">Involved in evaluating new technologies and worked closely with Architecture</span></li>
     <li class="c2"><span class="c3 c0">Proven ability to deliver successful projects and dealing with the normal challenges that occur</span></li>
     <li class="c2"><span class="c3 c0">Worked closely with the Analytics team to implement enhanced meta information and Omniture</span></li>
     <li class="c2"><span class="c3 c0">Demonstrated clear and timely communication and organization to drive better workflow</span></li>
     <li class="c2"><span class="c3 c0">Drive and implement effective solutions to benefit our timeline and budget</span></li>
     <li class="c2"><span class="c3 c0">Focused on efficient processes, improving CICD, cloud delivery and development environments </span></li>
  </ul>
  <p class="c1"><span class="c3 c6"></span></p>
  <p class="c1"><span class="c3 c6"></span></p>
  <p class="c8"><span class="c6">Senior Internet Architect &ndash; The Seattle Times Company (Oct06-</span><span class="c6">Jan11</span><span class="c3 c6">)</span></p>
  <ul class="c10 lst-kix_list_3-0 start">
     <li class="c2"><span class="c0">Lead developer for data cloud project and open interface. Facilitated &amp; led several projects using this data cloud interface</span><span class="c3 c0">, including several mobile apps and search </span></li>
     <li class="c2"><span class="c3 c0">Worked closely with members of the newsroom to develop innovative news products</span></li>
     <li class="c2"><span class="c3 c0">Promoted development of extensible web services for potential reuse throughout the network</span></li>
     <li class="c2"><span class="c0">Real Media OAS and Omniture integration and special advertisement technical implementation</span></li>
     <li class="c2"><span class="c3 c0">Worked closely with producers, designers and human factors to lead development with other engineers and contractors throughout projects. Developing both client-side and/or server-side</span></li>
     <li class="c2"><span class="c0">Designed, developed and implemented a photo management engine with extensive APIs</span></li>
     <li class="c2"><span class="c3 c0">Member of Security Team focused on improving security of web applications and PCI compliance</span></li>
  </ul>
  <p class="c1 c19"><span class="c3 c0"></span></p>
  <p class="c8"><span class="c3 c6">Senior Internet Engineer &ndash; The Seattle Times Company (Nov04-Oct06)</span></p>
  <ul class="c10 lst-kix_list_d-0 start">
     <li class="c2"><span class="c3 c0">NWSource.com and Marketplace sites lead PHP Engineer/Developer</span></li>
     <li class="c2"><span class="c0">Development of integration with several 3</span><span class="c0 c17">rd</span><span class="c0">&nbsp;party APIs including O</span><span class="c0">mniture and Google analytics</span></li>
     <li class="c2"><span class="c3 c0">Responsible for web server operations &ndash; Linux and Solaris with Apache</span></li>
     <li class="c2"><span class="c3 c0">Led development for redesign of NWautos.com (worked in tandem with a junior developer)</span></li>
     <li class="c2"><span class="c3 c0">Responsible for database design and optimization for web applications</span></li>
     <li class="c2"><span class="c3 c0">Developed and improved scheduled, automated data loading procedures</span></li>
  </ul>
  <p class="c1"><span class="c0 c3"></span></p>
  <p class="c8"><span class="c3 c6">Network Security Consultant &ndash; Northwest Computer Support (Sep04-Nov04)</span></p>
  <ul class="c10 lst-kix_list_d-0">
     <li class="c2"><span class="c3 c0">Worked with clients to improve and fix network and application security</span></li>
     <li class="c2"><span class="c3 c0">Organized a suite of tools for security analysis</span></li>
  </ul>
  <p class="c1"><span class="c3 c0"></span></p>
  <p class="c8"><span class="c3 c6">Web Server Administrator/Developer &ndash; Federal Home Loan Bank of Seattle (Feb01- Aug04)</span></p>
  <ul class="c10 lst-kix_list_c-0 start">
     <li class="c2"><span class="c0">Managed all aspects of the </span><span class="c0">bank&#39;s</span><span class="c0">&nbsp;Internet technologies</span></li>
     <li class="c2"><span class="c3 c0">Responsible for all web servers (Win2003 IIS, Win2000 IIS, Apache), Windows clusters, SQL Servers, external and global DNS, and load balancing</span></li>
     <li class="c2"><span class="c3 c0">Provided 24x7 support for web applications requiring high-availability</span></li>
     <li class="c2"><span class="c0">Automated</span><span class="c0">&nbsp;existing procedures and</span><span class="c0">&nbsp;</span><span class="c3 c0">unit tests to allow reliable monitoring of components</span></li>
     <li class="c2"><span class="c3 c0">Designed, led development and implemented custom CMS system (one other developer)</span></li>
     <li class="c2"><span class="c0">I</span><span class="c0">mplemented high </span><span class="c0">availability</span><span class="c0">&nbsp;web infrastructure with load balancing and automatic fail</span><span class="c0">o</span><span class="c3 c0">ver</span></li>
  </ul>
  <p class="c1"><span class="c3 c0"></span></p>
  <p class="c8"><span class="c3 c6">Independent Contractor &ndash; GoldPress LLC &nbsp;(Aug99-Feb01)</span></p>
  <ul class="c10 lst-kix_list_7-0 start">
     <li class="c2"><span class="c0">Led a small team of developers in </span><span class="c0">many successful</span><span class="c3 c0">&nbsp;projects (2-3 developers)</span></li>
     <li class="c2"><span class="c3 c0">Development on most all PHP, mySQL, Linux and Apache. A few projects with ASP and IIS.</span></li>
  </ul>
  <p class="c1"><span class="c3 c0"></span></p>
  <p class="c8"><span class="c3 c6">Lead Web Developer &ndash; Freei.net/FreeInternet.com (Nov98-Sep99)</span></p>
  <ul class="c10 lst-kix_list_2-0 start">
     <li class="c2"><span class="c0">Lead</span><span class="c0">&nbsp;LAMP developer developer</span><span class="c0">. Working with FreeBSD, Apache, mySQL and PHP/Perl stack</span></li>
     <li class="c2"><span class="c3 c0">Proven track record of completing projects ahead of schedule and under budget</span></li>
  </ul>
  <h2 class="c8 c16"><span class="c3 c6"></span></h2>
  <hr>
  <p class="c1"><span class="c3 c4"></span></p>
  <p class="c8"><span class="c3 c4">Training</span></p>
  <p class="c1"><span class="c3 c0"></span></p>
  <ul class="c10 lst-kix_list_5-0 start">
     <li class="c2"><span class="c0">The Poynter Institute Technology and Journalism, Franklin Covey Leadership, Project Management</span></li>
  </ul>
  <ul class="c10 lst-kix_list_e-0 start">
     <li class="c2"><span class="c3 c0">Many other relevant server and technology training (mySQL, Couchbase, Oracle DB, Oracle Application Server, CFM, Real Media Open Adstream, RedHat RHEL, SUSE)</span></li>
  </ul>
  <h2 class="c8 c16"><span class="c3 c6"></span></h2>
  <hr>
  <p class="c1"><span class="c3 c4"></span></p>
  <p class="c8"><span class="c3 c4">Certifications</span></p>
  <p class="c1"><span class="c3 c4"></span></p>
  <ul class="c10 lst-kix_list_9-0 start">
     <li class="c2"><span class="c3 c0">Certified Scrum Master</span></li>
     <li class="c2"><span class="c0">CompTIA Security+</span></li>
     <li class="c2"><span class="c3 c0">Microsoft Certified Professional</span></li>
     <li class="c2"><span class="c3 c0">Currently working on PMI Project Management Professional Certification </span></li>
  </ul>
	<div>
	    <p class="c9"><span class="c7 c8">Last updated </span><span class="c8">June 24, 2018</span></p>
	</div>
</div>
